*{
	margin: 0;
	padding: 0;
}


header{
	width: 100%;
	background: rgba(64, 224, 208, .8);
	height: 70px;
	position: fixed;
	z-index: 10;
}

.ancho{
	width: 80%;
	height: 70px;
	/*background: rgba(64, 224, 208, .5);*/
	margin: auto;
}
.logo{
	width: 30%;
	height: 70px;
	/*background: rgba(64, 224, 208, .5);*/
	float: left;
	padding-top: 5px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.logo p a{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
}
nav{
	width: 70%;
	height: 70px;
	/*background: rgba(64, 224, 208, .5);*/
	float: left;
	text-align: right;
	padding-top: 25px;
	box-sizing: border-box;
}
nav ul li{
	display: inline;
}
nav ul li a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
}
nav ul li a:hover{
	color: #444;
}