@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

h3 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #777;
}

h4 {
    margin-top: 15px;
    font-size: 16px;
}

h5{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    letter-spacing: 1px;
}
p{
    color: #888;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 17px;
}


.wap{
	width: 90%;
	margin: auto;
}

.bienvenidos{
	/*background: red;*/
	margin-top: 50px;
	text-align: center;
}

.contenedor-columnas{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.columnasx3{
    width: 33.33%;
    float: left; /* para q lo mande a la izqierda */
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}

.columnasx3 img{
    width: 100%;
}

.banner-1{
    clear: both; /*para q no se combine*/
    background: #1ABC9c;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}

.banner-1:hover{
    background: #444;
    transition: 0.5s;
}

.banner-1 h3{
    color: #fff;
    font-size: 28px;
}

.banner-1 a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
}